<project>
  <licensing>
    <tag>ASL 2.0</tag>
  </licensing>
  <module>
    <dependency>junit4</dependency>
    <dependency>guice</dependency>
    <dependency>jsr-305</dependency>
    <dependency>jcommander</dependency>
    <dependency>slf4j</dependency>
    <build>
      <compiler>
        <release>11</release>
        <addSourceRoot>testng-core/src/main/java</addSourceRoot>
        <addSourceRoot>testng-core-api/src/main/java</addSourceRoot>
        <addSourceRoot>testng-collections/src/main/java</addSourceRoot>
        <addSourceRoot>testng-reflection-utils/src/main/java</addSourceRoot>
        <addSourceRoot>testng-runner-api/src/main/java</addSourceRoot>
        <addSourceRoot>testng-asserts/src/main/java</addSourceRoot>
        <excludeSourceClass>org/testng/Converter</excludeSourceClass>
        <excludeSourceClass>org/testng/internal/Yaml</excludeSourceClass>
        <excludeSourceClass>org/testng/internal/YamlParser</excludeSourceClass>
        <addResource>testng-core/src/main/resources</addResource>
      </compiler>
    </build>
  </module>
</project>
